
/* standard elements */
* {
	margin: 0;
	padding: 0;
}

a {color: #682;}

a:hover {color: #9A6;}

body {
	background: #333 url(img/bg.gif);
	color: #333;
	font: normal 80% Georgia,Georgia;
	margin: 3% 0;
}

p{
	padding-bottom: 0em;
	padding-left: 1em;
	text-indent: 3em;
}
ul {
	padding-bottom: 1em;
	padding-left: 1em;
}
ul {margin-left: 1.2em;}


ol{
	padding-bottom: 1em;
	padding-top: 1em;
	padding-left: 3em;
	font: .9em Arial,Arial;
}
.main li {
	list-style-image: url(img/li.gif);
		
}

h1 {font-size: 1.2em;}

blockquote {
	background: #FFF;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
	color: #333;
	display: block;
	font-size: 0.9em;
	margin-bottom: 1.2em;
	padding: 6px 12px;
}
blockquote p {padding: 3px 0;}

h1,h2,h3 {color: #994;}

/* misc */
.clearer {clear: both;}
.main_right .padded {padding: 6px 2px 6px 16px;}
.main .padded {padding: 8px 16px 8px 32px;}
.meta {font-size: 0.8em; color: #666;}
.left {float: left;}
.right {float: right;}

/* structure */
.container {
	font-size: 1.2em;
	background: url(img/bgcontainer.gif) repeat-y;
	background-size: 100%;
	margin: 0 auto;
	width: 80%;
	border: 12px solid #222;
}

/* header */
.header {
	float: left;
	width: 80%;
}

/* structure */
.top {
	background: #222;
	color: #DDD;
	float: left;
	font: normal 1.4em Georgia;
	height: 50px;
	text-align: center;
	width: 95%;
}
.subnav {
	float: left;
	width: 15%;
}
.main {
	float: left;
	width: 65%;
}
.main_right {
	float: right;
	width: 20%;
	color: #CCC;
	
}

/* sub-navigation */
.subnav h1 {
	background: #222;
	color: #FFE;
	font: bold 1.1em Georgia,Georgia;
	line-height: 24px;
	padding-left: 8px;
}
.subnav ul {margin: 0; padding: 0;}
.subnav li {
	border-bottom: 1px solid #696755;
	list-style: none;
}
.subnav li a {
	background: #89866F;	
	color: #111;
	display: block;
	padding: 8px 0 8px 12px;
	width: 100%;
	text-decoration: none;
}
.subnav li a:hover {
	background: #9C997C;
	color: #000;
}

/* footer */
.footer {
	background: url(img/bgfooter.gif) repeat-x;
	color: #CCC;
	font-size: 0.9em;
	line-height: 39px;
	width: 100%;
	text-align: center;
}
.footer .left,.footer .right {padding: 0 16px;}
.footer a {color: #EEE;}
.footer a:hover {color: #FAFCB0;}

/* Gallerax styles */
#gallery {width:100%; margin:0 auto 20px auto;}
#gallery img.output {width:96%;  border:solid 5px #323232;margin:10px 10px 10px 10px;}
#gallery span.caption {display:block; margin:0;}
#gallery ul.thumbnails {width:100%; list-style:none; margin:10px 0 5px 0; padding:0;}
#gallery ul.thumbnails li {float:left; margin:0 10px 10px 0;}
#gallery ul.thumbnails li img {width:80px; height:60px;  border:solid 5px #ccc; cursor:pointer;}
#gallery ul.thumbnails li img.active {border:solid 5px #323232;}
